<h1>User Show</h1>

<%= @user.full_name %>


<h3>User's Reviews</h3>
<% @user.reviews.each do |rev| %>
  <p><%= link_to "Review of #{rev.city.name} - Rating: #{rev.rating}", review_path(rev) %></p>
  <p><%= rev.content[0..50] %>...</p>
<% end %>
