<footer class="container-fluid fixed-bottom text-center text-light bg-primary">
  <h5>&copy; 2018 WanderList - Flatiron School Project
  <%= link_to "About", about_path, class: "btn btn-secondary" %></h5>
</footer>
