<h1>SHOW THIS COUNTRY</h1>

<h2>Name: <%= @country.name %></h2>

<h3>LIST OF CITIES</h3>
  <%cities = @country.cities.order(:name)  %>
  <% cities.each do |city| %>
    <p><%= link_to city.name, city_path(city) %></p>
  <% end %>
