<div class="jumbotron world_map">
  <div class="container-fluid text-center">
    <h1><%= @country.name %></h1>
    <p>Total Reviews: <%= @country.country_review_count %></p>
  </div>
</div>

<div class="container-fluid bg-3 text-center">
  <h3>LIST OF CITIES</h3>
  <div class="row">

    <%cities = @country.cities.order(:name)  %>
    <% cities.each do |city| %>
    <div class="col-sm-3">
      <p><%= link_to city.name, city_path(city) %></p>
    </div>
    <% end %>


  </div>
</div>
