<h1>SHOW THIS CITY</h1>

<h2>Name: <%= @city.name %></h2>
<p>Size/Population: <%= @city.size %></p>
<p>Country: <%= link_to @city.country.name, country_path(@city.country)%></p>

<p>LIST OF ALL REVIEWS</p>
