// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
div.user_show_buttons {
  padding:1em;
}

.form_container {
  width: 100%;
  clear: both;
}

.form_container input {
  width: 100%;
  clear: both;
}

.inline_pls {
  display: inline-block;
  width: 30%;
  margin-left: 35%;
  margin-right: 35%;
}
